// Variables

$main-color: #800020;
// $main-color: #3c1053ff;
$light-color: #f4f4f4;
$secondary-color: #ff5f1f;
// $secondary-color: #e94b3cff;
$medium-color: #555;
$dark-color: #333;
$max-width: 1100px;
